<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./output.css" rel="stylesheet">
</head>
<body>

<footer class="bg-[#EEEDED] text-center p-4 fixed bottom-0 left-0 w-full">
    <div class="flex justify-around text-sm">
        <span>All rights reserved.</span>
        <span>Mission</span>
        <span>Vision</span>
        <span>Goal</span>
    </div>
</footer>

</body>
</html>