<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./output.css" rel="stylesheet">
</head>
<body>
    
    <aside class="w-64 bg-[#D9D9D9] text-black fixed top-[102px] left-0 h-[calc(92vh-100px)] overflow-y-auto">
       
        <div class="text-center mb-6">
            <p class="mt-2 font-semibold">{{ student_name }}</p>
            <p class="text-sm">{{ exam_id }}</p>
        </div>
        <div class="p-4 text-center text-2xl font-bold">AspireMatch</div>
        <nav class="mt-4">
            <ul class="space-y-3">
                <li class="p-2 hover:bg-gray-300"><a href="/survey">SURVEY</a></li>
                <li class="p-2 hover:bg-gray-300"><a href="/track_survey">TRACK SURVEY</a></li>
                <li class="p-2 hover:bg-gray-300"><a href="/notifications">NOTIFICATION</a></li>
                <li class="p-2 hover:bg-gray-300"><a href="/profile">PROFILE</a></li>
            </ul>
        </nav>
    </aside>

</body>
</html>